

.result-wrapper {
  display: grid;
  grid-gap: 4%;
  grid-template-columns: 26% 26% 24%;
  grid-template-rows: 40% 80% ;
  background-color: tomato;
  color: #444;
  width: 100%;
  height: 100%;
  margin-top: 3%;
  margin-bottom: 3%;
  margin-left: 3%;
  margin-right: 3%;
    
    }

.result-block {
  background-color: white;
  color: #fff;
  border-radius: 5px;

  font-size: 150%;
  box-shadow: 0px 8px 12px 0px rgba(0, 0, 0, 0.25);

}

.result-summaryCard{
  background-image: url("../../image/tsuta.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  display: block;
  
  border-radius: 4.2px;
  box-shadow: 0px 8px 12px 0px rgba(0, 0, 0, 0.25);
}

.result-color-overlay{
  width: 100%;
  height: 100%;
  border-radius: 4.2px;
  background: linear-gradient(to right, rgba(233, 170, 134, 0.2) 0%, #e4e4e2 60%, #fcfcfc 100%);
  background-blend-mode: multiply;
}

.result-summary {
  padding: 0;
  grid-column: 1 / 3;
    
}
.result-sidebar {
  grid-column: 3 ;
  grid-row: 1/3;
}
.result-info1 {
  grid-column-start: 1 ;
  grid-column-end: 3;
  grid-row-start: 2 ;
}
/* .result-info2 {
  grid-column: 2;
  grid-row: 2;
} */

.result-basic{
  display: block;
  width: 80%;
  height: 100%;
  margin: 7%;

}

.icon-info-wrap{
  display: block;
  width: 110%;
  height: 5%;
  position: relative;
}

.result-icon{
  position: absolute;
  display: inline-block;
  height: 60%;
  width:  10%;
  
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px 20px;
  margin-left: 2%;
}

.location{
  background-image: url('../../image/result-icon/placeholder.png');
}

.phone{
  background-image: url('../../image/result-icon/phone-call.png');
}

.web{
  background-image: url('../../image/result-icon/paperclip.png');
}

.open-hours{
  background-image: url('../../image/result-icon/clock.png');
}

.near-mrt{
  background-image: url('../../image/result-icon/public-transport-subway.png');
}

.category{
  background-image: url('../../image/result-icon/tag.png');
}

.other-info{
  background-image: url('../../image/result-icon/info.png');
}

.ps{
  background-image: url('../../image/result-icon/edit.png');
}

.result-menu{
  background-image: url('../../image/result-icon/menu.png');
}


.result-ans{
  display: inline-block;
  height: 100%;
  width:  70%;
  margin-left: 20%;
  margin-top: 3%;
  color: black;
  font-size: 13px;
  position: absolute;
}



.result-all-open-hours{
  list-style-type: none;
  display: none;
  width:  80%;
  height:  400%;
  font-size: 13px;
  color: black;

}

.result-day{
  display: inline-block;
  width: 30%;

}

.result-time{
  display: inline-block;
  width:50%;
}

.wrap-tags{
  margin-top: 3%;
  display: block;
  height: 10%;
}


.tags {
  list-style: none;
  margin-left: 20%;
  margin-top: 1%;
  overflow: hidden; 
  padding: 0;
}

.tags li {
  float: left; 
}

.tag {
  background: #eee;
  font-size: 7px;
  border-radius: 3px 0 0 3px;
  color: rgb(0, 0, 0);
  display: inline-block;
  height: 26px;
  line-height: 26px;
  padding: 0 20px 0 23px;
  position: relative;
  margin: 0 10px 10px 0;
  text-decoration: none;
  -webkit-transition: color 0.2s;
}

.tag::before {
  background: #fff;
  border-radius: 10px;
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
  content: '';
  height: 6px;
  left: 10px;
  position: absolute;
  width: 6px;
  top: 10px;
}

.tag::after {
  background: #fff;
  border-bottom: 13px solid transparent;
  border-left: 10px solid #eee;
  border-top: 13px solid transparent;
  content: '';
  position: absolute;
  right: 0;
  top: 0;
}

.tag:hover {
  background-color: tomato;
  color: white;
}

.tag:hover::after {
   border-left-color: tomato; 
}


.wrap-menu{
  display: block;
  height: 25%;
  width:  130%;
}

.menu-title {
  position:relative;
  padding:5%;
  width: 60%;
  font-size:12px;
  font-weight:700;
  display: inline-block;
}
.menu-title span {
  position:relative;
  background:#fff;
  padding:0 1% 0 0;
}
.menu-title .menu-price {
  float:right;
  padding:0 0 0 1%;
}
/* .menu-title:before {
  position:absolute;
  width: 30%;
  top:50%;
  left:1px;
  right:1px;
  height:1px;
  border-top:2px dotted rgba(0,0,0,0.3);
  display:block;
  content:'';
} */
@media (min-width:420px) {
  article {
    width:100%;
    float:left;
  }
}
article p {
  margin:0;
  padding:0 10px 10px;
  
}

.result-info1{
  display: block;
  height: 100%;
  width: 100%;
}

.wrap-googlemap{
  display: block;
  height: 100%;
  width: 100%;
}



.addComment-result{
  width: 100%;
  height: 100%;
  margin: 1% auto;
  color: tomato;
  font-size: 1.15rem;
  line-height: 65px;
  text-transform: uppercase;
  text-align: center;
  position: relative;
  cursor: pointer;
  margin-top: 1%;
 
}

.addComment-svg {
  position: absolute;
  top: 0;
  width: 100%;
  left: 0;
}
.addComment-svg rect, .addComment-svg path, .addComment-svg polyline {
  fill: none;
  stroke: tomato;
  stroke-width: 3;
  width: 100%;
}

.addComment-result:hover svg rect {
  stroke: tomato;
}

.addComment-svg rect {
  stroke-dasharray: 400, 0;
  -webkit-transition: all 0.8s ease-in-out;
  -moz-transition: all 0.8s ease-in-out;
  -ms-transition: all 0.8s ease-in-out;
  -o-transition: all 0.8s ease-in-out;
}
.addComment-result:hover svg rect {
  stroke-width: 6;
  stroke-dasharray: 35, 245;
  stroke-dashoffset: 38;
  -webkit-transition: all 0.8s ease-in-out;
  -moz-transition: all 0.8s ease-in-out;
  -ms-transition: all 0.8s ease-in-out;
  -o-transition: all 0.8s ease-in-out;
}
