.diary-page{
  background-color: rebeccapurple;
  height: 100%;
  padding-left: 15%;
  overflow: scroll;
  position: absolute;
  overflow-x: hidden;
}

.diary-wrapper{
  display: grid;
  grid-gap: 4%;
  grid-template-columns: 26% 26% 24%;
  grid-template-rows: 30% 65% ;
  background-color: rebeccapurple;
  color: #444;
  width: 100%;
  height: 100%;
  margin-top: 3%;
  margin-bottom: 3%;
  margin-left: 3%;
  margin-right: 3%;
}

.diary-block{
  background-color: white;
  color: #fff;
  border-radius: 5px;

  font-size: 150%;
  box-shadow: 0px 8px 12px 0px rgba(0, 0, 0, 0.25);
}

.diary-profile {
  padding: 0;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row: 1;
}
.diary-heatmap {
  grid-column-start: 2 ;
  grid-column-end: 4;
  grid-row: 1;
}


.diary-favorites {
  grid-column-start: 1 ;
  grid-column-end: 4;
  grid-row-start: 2 ;
  margin-bottom: 2%;
}

.logo-block{
  position: absolute;
  top: 0.1%;
  left: 16%;
  width:12%;
  height: 20%;
  border-radius: 5px;
  background-color: rgb(93, 47, 139);
  box-shadow: 0px 8px 12px 0px rgba(0, 0, 0, 0.25);
  text-align: center;
  align-items: center;
  justify-content: center;
}

.diary-logo{
  height: 70%;
  width: 70%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 80px 80px;
  margin-left:  auto;
  margin-right: auto;
  margin-top: 15%;
  background-image: url("../../image/user.png")
}

.diary-user{
  width:  90%;
  height: 20%;
  color: rebeccapurple;
  display: inline-block;
  text-align: right;
  margin-top: 15%;
  margin-bottom: 10%;
  font-size: 54px;
}

.diary-username{
  text-align: right;
  width:  90%;
  height: 20%;
  color: black;
  display: inline-block;
  font-size: 46px;
}

.diary-heatmap{
  display: block;
  width: 100%;
  height: 100%;
}

.update-diary-button {
  z-index: 900;
  position: absolute;
  top: 4%;
  right: 10%;
  display: block;
  cursor: pointer;
  width: 6%;
  height: 10%;
  background-color: rebeccapurple;
  border-bottom-left-radius: 100%;
}
.update-diary-button:active i {
  opacity: 0.8;
}
.update-diary-button i {
  color: white;
  margin-top: 24%;
  margin-left: 45%;
}

.update-diary-button:hover i{
  color:rgb(233, 232, 232)
}


.diary-favorites{
  width: 100%;
  white-space: nowrap;
  overflow-x: scroll;
  overflow-y: hidden;
  padding-top: 4%;
}

.diary-favorite-element{
  opacity: 1;
  -webkit-transition: opacity 0.35s;
  transition: opacity 0.35s;
  border-radius: 5px;
  display: inline-block;
  width:  30%;
  height: 80%;
  box-sizing: border-box;
  margin: 0 0.7%;
  
  box-shadow: 0.3rem 0.4rem 0.4rem rgba(0, 0, 0, 0.4);
}

.diary-favorite-element img{
    margin-bottom:  15%;
    width: 100%; /* or any custom size */
    height: 59%; 
    object-fit: contain;
}

.diary-favorite-img{
  
  background-size: 260px 320px;
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
  width:  100%;
  height: 50%;
  box-sizing: border-box;
  margin: 7% 0.7%;
}

.diary-favorite-name{
  text-align:center;
  display: block;
  width:100%;
  height: 20%;
  color:black;
  font-weight: 700;
}

.love1{
  background-image: url("../../image/鷹流東京豚骨.JPG")
}

.love2{
  background-image: url("../../image/山嵐.jpg")
}

.love3{
  background-image: url("../../image/鬼金棒.jpg")
}

.love4{
  background-image: url("../../image/麵屋真燈.jpg")
}

.diary-favorite-logo-block{
  position: absolute;
  top: 88%;
  left: 78%;
  width:12%;
  height: 16%;
  border-radius: 5px;
  background-color: rgb(93, 47, 139);
  box-shadow: 0px 8px 12px 0px rgba(0, 0, 0, 0.25);
  text-align: center;
  align-items: center;
  justify-content: center;
}

.diary-favorite-logo{
  height: 70%;
  width: 70%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 80px 80px;
  margin-left:  auto;
  margin-right: auto;
  margin-top: 5%;
  background-image: url("../../image/gallery.png")
} 

.diary-favorite-title{
  position: absolute;
  display:block;
  color:rebeccapurple;
  width:100%;
  height:20%;
  margin-top: 1%;
  margin-left: 4%;
  font-size: 64px;
}
/* The hover effect-------------------------------------------------------------- 
.diary-favorite-element:before {
transition: all .5s ease;
content: "";
position: absolute;
top: 0;
left: 0;
right: 0;
bottom: 0;
background: #333;
transform: scale(0);
}
.diary-favorite-element:hover:before {
opacity: .5;
transform: scale(1);
}
.diary-favorite-element:after {
transition: all .6s ease .2s;
content: "";
position: absolute;
top: 8px;
left: 8px;
right: 8px;
bottom: 8px;
border: 1px solid #aaa;
background: #000;
opacity: 0;
transform: scale(0);
}
.diary-favorite-element:hover:after {
opacity: .35;
transform: scale(1);
}
*/