@import "./general.scss";

*,html,body,#root{
  padding: 0;
  margin: 0;
  height: 100%;
}

input:focus{
  outline: none;
}

@media(min-width:2160px) and (max-width:2680px){


}

.frontpage{
  height: 100%;
}

.frontpage__nav{
  height: 5%;
  min-height: 45px;
  width: 100%;
  min-width: 1440px;
}

.frontpage__nav--slogan{
  margin-left: 2%;
  font-weight: bold;
  font-size: 3em;
}

.frontpage__nav--wrap{
  margin-right: 3%;
  width: 10%;
  &:hover{
    color: tomato;
  }
}

.frontpage__nav--logina{
  margin-left: 18%;
  font-size: 1em;
}

.frontpage__image{
  height: 60%;
  min-height: 520px;
  width: 100%;
  min-width: 1500px;
  position: relative;
  background-image: url('../img/front_background.jpeg');
  background-size: cover;
  background-position: left ; 
  background-blend-mode:  color-burn;
  background-color: #cacaca;
  -webkit-mask-image: linear-gradient(rgba(0,0,0,2) 93%, rgba(0,0,0,0));
  /* display: grid;
  grid-template-rows: 50px 400px 50px; 1fr 5fr 1fr; 
  grid-template-columns: 1fr 4fr 3fr 8fr;
  grid-template-areas: "no1 no1 no1 no1"
                       "lspace search mselect rspace"
                       "no no no no"; */
  
}


.frontpage__search{
  /* grid-area: search; */
  position: absolute;
  top: 10%;
  left: 5%;
  height: 80%;
  width: 25%;
  min-width: 300px;
  background: white;   
  z-index: 20;  
}

.frontpage__panel{
  width: 100%;  
  height: 100%;
}

.frontpage__panel--wrap{
  width: 100%;
  height: 30%;
  input{
    flex: 1;
    padding: 2%;   
    padding-left: 4%;
    width: 80%;
    margin: auto 8%; 
    font-size: 1em;
    color: tomato;
    border: 1px solid rgb(224, 224, 224);
    font-weight: bold;
  }
}

.frontpage__panel--subtitle{
  flex: 1;
  margin-bottom: 1%;
  font-size: 1em;
  margin-left: 8%;
  margin-top: 5%;
}

.frontpage__panel--display{
  flex: 1;
  padding: 2%;   
  width: 80%;
  margin: auto 8%; 
  font-size: 1em;
  color: tomato;
  border: 1px solid rgb(224, 224, 224);
  overflow-y: scroll;
  flex-wrap: wrap;

  div{
    
    border-radius: 10px;
    margin: auto 2%;
    padding-left: 2%;
    padding-right: 2%;
    font-size: 1em;
  }
}


.frontpage__panel--button{
  background-color: tomato;
  color: white;
  font-size: 16px;
  width: 85%;
  height: 50%;
  border-radius: 3px;
  border: none;
  &:hover{
    background: rgb(201, 91, 0);
  }
}


.frontpage__multiselect--mrt{
  /* grid-area: mselect; */
  background: rgb(238, 238, 238);
  transition: 1s ease-in-out;
  position: absolute;
  top: 10%;
  left: 30%;
  height: 80%;
  width: 25%;
  min-width: 300px;
  animation: slide-out .7s ease-out;
  
}

.frontpage__multiselect--title{
  width: 86%;
  height: 10%;
  margin-left: 8%;
  margin-top: 5%;
  font-size: 2em;
}

.frontpage__multiselect--wrap{
  width: 90%;
  height: 75%;
  margin-top: 3%;
  overflow-x: hidden;
}

.frontpage__multiselect--list{
  width: 86%;
  height: auto;/* 40%; */
  flex-shrink: 0;
  margin-bottom: 3%;
  padding-left: 10%;
  
  ul{
    height: 80%;
    width: 80%;
    padding-left: 35%;
    list-style-type: none;
    margin-top: 3%;
    flex-shrink: 0;
    
    li{
      height: 15%;
      width: 86%;
      margin-bottom: 2%;
    }

  }
}

.frontpage__multiselect--lineWrap{
  width: 100%;
  height: 30%;
  font-size: 1em;
  font-weight: bold;
  span{
    flex: 1;
    height: 5%;
    margin-right: 4%;
  }
}

.frontpage__multiselect--subtitle{
  flex: 4;
  height: 90%;

}

.frontpage__multiselect--arrow{
  height: 4%;
  flex: 0.5;
  padding: 0.7%;
  margin-left: 10%;
  border: solid black;
  border-width: 0 3px 3px 0;
}