@import url('https://fonts.googleapis.com/css?family=Coming+Soon|Freckle+Face|Kelly+Slab|Love+Ya+Like+A+Sister|Major+Mono+Display|Nanum+Pen+Script|Quantico|Rock+Salt');

*,html,body,#root{
  padding: 0;
  margin: 0;
  height: 100%;
  
}

input:focus, button:focus{
  outline: none;
}

a:hover{
  cursor:pointer;
}

/* flex */

.flex-wrap{
  flex-wrap: wrap;
}

.flex__container--col{
  display: flex;
  flex-direction: column;
}

.flex__container--row{
  display: flex;
}

.justifycontent--center{
  justify-content: center;
}

.justifycontent--fs{
  justify-content: flex-start;
}

.justifycontent--fe{
  justify-content: flex-end;
}

.justifycontent--sb{
  justify-content: space-between;
}

.justifycontent--sa{
  justify-content: space-around;
}

.alignitems--center{
  align-items: center;
}

.alignitems--fs{
  align-items: flex-start;
}

.alignitems--fe{
  align-items: flex-end;
}

/* postition */
.position--rel{
  position: relative;
}

.position--abs{
  position: absolute;
}

/* cursor */
.cursor--pt{
  cursor: pointer;
}


/*  font  */
.fontsize--22{
  font-size: 22px;
}

.fontfamily--mono{
  font-family: 'Love Ya Like A Sister', cursive;
}

.fontcolor--tomato{
  color: tomato;
}

.bold{
  font-weight: bold;
}

/* display */

.display--none{
  display: none;
}

.display--block{
  display: block;
  
}

/* border */

.border--none{
  border: none;
}

.border--tomato{
  border: 1px solid tomato;
}

.span--blue{
  border-bottom: 5px solid rgb(24, 50, 163);
}

.span--red{
  border-bottom: 5px solid rgb(255, 0, 0);
}

.span--yellow{
  border-bottom: 5px solid rgb(255, 166, 0);
}

.span--green{
  border-bottom: 5px solid rgb(0, 124, 37);
}

.span--brown{
  border-bottom: 5px solid rgb(124, 80, 40);
}

/* arrow */

.down{
  transform: rotate(45deg);
}

.up{
  transform: rotate(-135deg);
}

@keyframes slide-out {
  0% { transform: translateX(-100%); }   
100% { transform: translateX(0%); }
}

/* background-image */

.gallery_1{
  background-image: url('../img/front/gallery_image1.jpg');
}

.gallery_2{
  background-image: url('../img/front/gallery_image2.jpg');
}

.gallery_3{
  background-image: url('../img/front/gallery_image3.jpg');
}

.gallery_4{
  background-image: url('../img/front/gallery_image4.jpg');
}

/* margin */
.marginRight--1rem{
  margin-right: 1rem;
}

.marginLeft--1rem{
  margin-left: 1rem;
}


/* width */
.width--0{
  width: 0;
}

.width--60per{
  width: 60%;
}

/* height */

.height-50px{
  height: 50px;
}